h1 {
    color:black;
    text-align: center;
    margin-bottom: 5px;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 33%;
  margin: 0 auto;
  border-collapse: separate; 
  border-spacing: 5px 20px;
  
}

.messageCell {
  text-align: center;
  padding: 10px; 
  box-shadow: 5px 5px 5px #363d45;
  border-radius: 25px;
  background-color: white;
}

.editNote > button, .saveNote > button {
  background-color:white;
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 5px 5px 5px #363d45;
  font-family: sans-serif;
}

.notEditMode > th > span, .notEditMode .editNote {
  display: block;
}

.notEditMode > th > textarea, .notEditMode .saveNote  {
  display: none;
}

.editMode > th > span, .editMode .editNote {
  display: none;
}

.editMode > th > textarea, .editMode .saveNote {
  display: block;
}

small {
  font-size: 10px;
  font-weight:100px;
  cursor: pointer;
}